# Compiled class files
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs
hs_err_pid*

# IntelliJ IDEA
.idea/
*.iml
*.iws
out/
gen/

# Gradle
.gradle/
build/

# Maven
target/

# Eclipse (in caso il progetto venga aperto anche con Eclipse)
.classpath
.project
.settings/

# Mac OS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Temporary files
*.tmp
*.swp
*.swo
